.history__btn {
  float: right;
  margin: 5px;
}

.history {
  background-color: white;
  border: 2px solid lightsteelblue;
  border-radius: 5px;
  display: none;
  float: right;
  font-size: 1em;
  width: 100px;
}

.history__active {
  display: block;
  margin: 5px 0 5px 5px;
}
