.history__btn {
  float: right;
  padding: 5px;
  margin: 5px;
}

.history {
  background-color: white;
  border: 2px solid rgb(90, 90, 90);
  border-radius: 5px;
  display: none;
  float: right;
  font-size: 1em;
  width: 100px;
}

.history__active {
  display: block;
}
