button.historyBtn {
  background-color: aliceblue;
  border-radius: 5px;
  float: right;
  font-size: 1em;
  padding: 5px;
  margin: 5px;
}

.history {
  background-color: white;
  display: none;
  float: right;
  position: static;
  width: 100px;
}

.history__active {
  display: block;
}
