.setting {
  border: 1px solid rgb(201, 198, 198);
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
  min-width: 400px;
}

.setting__enter-lottery {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 0px auto auto auto;
}

.select-enter-mode__btn {
  margin: 5px;
}

.setting__hyphen {
  padding: 5px 10px 0 10px;
}
