.enter-num {
  align-items: baseline;
  min-width: 150px;
  display: flex;
  justify-content: center;
}
.enter-num__input:first-child {
  margin-right: 5px;
}
.enter-num__input:last-child {
  margin-left: 5px;
}
