.App {
  text-align: center;
}

#root {
  padding: 15px;
}

.btn {
  background-color: aliceblue;
  border-radius: 5px;
  font-size: 1em;
  padding: 5px;
}

.input {
  border-radius: 5px;
  border-width: 1px;
  border-color: darkgrey;
  font-size: 1em;
  padding: 5px;
}
